In [580]:
#import dependencies
import csv
import os
import pandas as pd

In [581]:
#file Locations
school_file = os.path.join("schools_complete.csv")
student_file = os.path.join("students_complete.csv")

In [582]:
#read csv into data Frame
schools_df = pd.read_csv(school_file)
students_df = pd.read_csv(student_file)

In [583]:
#change the name column of schools_df to school
#To make merging easy
schools_df = schools_df.rename(columns = {"name":"school"})

In [584]:
schools_df

    School ID                 school      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [585]:
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

# District Summary

In [614]:
'''
District Summary
Create high-level snapshot (in table form) of district's key metrics, including:
- total schools
- total students (formatted with thousands separators)
- total budget (formatted as currency)
- average math score 
- average reading score
- % passing math
- % passing reading
- overall passing rate (average of % passing math & % passing reading)
'''

"\nDistrict Summary\nCreate high-level snapshot (in table form) of district's key metrics, including:\n- total schools\n- total students (formatted with thousands separators)\n- total budget (formatted as currency)\n- average math score \n- average reading score\n- % passing math\n- % passing reading\n- overall passing rate (average of % passing math & % passing reading)\n"

In [587]:
#Total number of schools
overall_total_schools = schools_df["School ID"].count()
overall_total_schools

15

In [588]:
#Total number of schools
overall_total_students = students_df["Student ID"].count()

In [589]:
#Calculate the total budget for each school 
overall_total_budget = schools_df["budget"].sum()

In [590]:
#Calculate the average maths score for all student
average_math_score = students_df["math_score"].mean()

In [591]:
#Calculate the average reading score for all students
average_reading_score = students_df["reading_score"].mean()

In [592]:
#Get the number of students with passing score
passing_math = students_df.loc[student_df["math_score"] >= 70,["math_score"]]
pct_passing_math = passing_math["math_score"].count() / overall_total_students * 100

In [593]:
#Get the number of student with passing reading scores
passing_reading = students_df.loc[student_df["reading_score"] >=70, ["reading_score"]]
pct_passing_reading = passing_reading["reading_score"].count() / overall_total_students *100

In [594]:
#Average of pct passing reading and pct passing math
overall_passing_rate = ((pct_passing_math + pct_passing_reading) / 2)
overall_passing_rate

80.39315802910392

In [595]:
#Now that we have all columns, we will go ahead and create District Summary data Frame
district_summary = pd.DataFrame({
    "Total Schools": [overall_total_schools],
    "Total Students": [overall_total_students],
    "Total Budget": [overall_total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [pct_passing_math],
    "% Passing Reading": [pct_passing_reading],
    "Overall Passing Rate": [overall_passing_rate]})
district_summary = district_summary [["Total Schools", "Total Students", "Total Budget", "Average Math Score",
                                    
                                      "Average Reading Score", "% Passing Math", "% Passing Reading", 
                                    "Overall Passing Rate"]]

district_summary ["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary ["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

# School Summary

In [596]:
#DataFrame for passing Math student
students_passing_math = students_df.loc[students_df["math_score"] > 70]

In [597]:
# reduce dataframe to include only high school name and a new field that will be used by the groupby for the 
# student counter. For now, it is initialized to zero.
students_passing_math_red = pd.DataFrame({"school": students_passing_math["school"],
                                       "nbr_students_passing_math": 0})

In [598]:
#place school field in leftmost position for easier visualization by hoo-mans
students_passing_math_red = students_passing_math_red[["school", "nbr_students_passing_math"]]
students_passing_math_red.head()

              school  nbr_students_passing_math
0  Huang High School                          0
4  Huang High School                          0
5  Huang High School                          0
6  Huang High School                          0
8  Huang High School                          0

In [599]:
 #group students passing math by high school and count. The count of students in the students_passing_math_red 
# dataset will go in the nbr_students_passing_math column.
students_passing_math_by_school = students_passing_math_red.groupby(["school"]).count().reset_index()

In [600]:
#create dataframe containing only students who pass reading
students_passing_reading = students_df.loc[student_df["reading_score"] > 70]
students_passing_reading.head()

,Student ID,name,gender,grade,school,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80

In [601]:
# reduce dataframe to include only high school and a new, empty field to contain the student counter created
# by the groupby in the next step
students_passing_reading_red = pd.DataFrame({"school": students_passing_reading["school"],
                                          "nbr_students_passing_reading": 0})

In [602]:
#Move DataFrame to Left column for easy visualization
students_passing_reading_red = students_passing_reading_red[["school","nbr_students_passing_reading"]]
students_passing_reading_red.head()

              school  nbr_students_passing_reading
1  Huang High School                             0
2  Huang High School                             0
4  Huang High School                             0
5  Huang High School                             0
6  Huang High School                             0

In [603]:
# group students passing reading by high school and count
students_passing_reading_by_school = students_passing_reading_red.groupby(['school']).count().reset_index()

In [604]:
#group students by school to calculate average math and reading scores per school
school_group = students_df.groupby(['school'])

In [605]:
# build dataframe with calculated average score. reset the index so school can be used for merging later
average_scores_df = pd.DataFrame({"avg_math_score": school_group['math_score'].mean(),
                              "avg_reading_score": school_group['reading_score'].mean()}).reset_index()

In [606]:
# create 'super table' of schools_df, students passing reading, students passing math and average math scores.
super_school_df = pd.merge(schools_df, avg_scores_df, on = 'school') \
.merge(student_passing_math_by_school, on = 'school') \
.merge(students_passing_reading_by_school, on = 'school')

In [607]:
#calculate percentage of students passing math
pct_students_passing_math_school = (super_school_df['nbr_students_passing_math'] / super_school_df['size']) * 100

In [608]:
#calculate percentage of students passing reading
pct_students_passing_reading_school = (super_school_df['nbr_students_passing_reading'] / \
                                      super_school_df['size']) * 100

In [609]:
#calculate overall passing rate
overall_passing_rate_school = ((pct_students_passing_math_school + pct_students_passing_reading_school) / 2)

In [610]:
# create district_summary dataframe for display
school_summary_df = pd.DataFrame({'School Name': super_school_df['school'],
                               'School Type': super_school_df['type'],
                               'Total Students': super_school_df['size'],
                               'Total School Budget': super_school_df['budget'],
                               'Per Student Budget': (super_school_df['budget'] / super_school_df['size']),
                                
                                'Average Math Score': super_school_df['avg_math_score'],
                               'Average Reading Score': super_school_df['avg_reading_score'],
                               '% Passing Math': pct_students_passing_math_school,
                               '% Passing Reading': pct_students_passing_reading_school,
                               'Overall Passing Rate': overall_passing_rate_school})

school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].map('${:,.2f}'.format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].map('${:,.2f}'.format)

school_summary_df = school_summary_df[['School Name', 'School Type', 'Total Students', 'Total School Budget',
                                 'Per Student Budget', 'Average Math Score', 'Average Reading Score',
                                 '% Passing Math', '% Passing Reading', 'Overall Passing Rate']] \
                                 .set_index('School Name').rename_axis(None)
               
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,89.892107,92.617831,91.254969
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,64.746494,78.187702,71.467098
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,89.713896,93.392371,91.553134
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,90.932983,93.254490,92.093736
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,64.630225,79.300643,71.965434
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,90.632319,92.740047,91.686183
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,90.277778,93.444444,91.861111
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,65.753925,77.510040,71.631982
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,90.214067,92.905199,91.559633

# Top Performing School (By Passing Rate)

In [611]:
top_performing_schools_df = school_summary_df.nlargest(5, 'Overall Passing Rate')
top_performing_schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,90.632319,92.740047,91.686183

# Last Performing Schools

In [612]:
last_performing_school_df = school_summary_df.nsmallest(5, "Overall Passing Rate")
last_performing_school_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,64.746494,78.187702,71.467098

# Math Score By Grade

In [616]:
# use groupby to create a dataset grouped by high school and grade, then average the columns and reset the indexes
#so we can reuse the school and grade columns later
average_score_by_high_school_df = student_df.groupby("school", "grade").mean().reset_index()


#Use the loc function to isolate individual grades
ninth_grade_df = average_score_by_high_school_df.loc[average_score_by_high_school_df["grade"] == "9th"]
tenth_grade_df = average_score_by_high_school_df.loc[average_score_by_high_school_df["grade"] == "10th"]
eleventh_grade_df = average_score_by_high_school_df.loc[average_score_by_high_school_df["grade"] == "11th"]
twelth_grade_df = average_score_by_high_school_df.loc[average_score_by_high_school_df["grade"] == "12th"]

#Reduce dataFrame to School, Math score, reading score
ninth_grade_df = pd.DataFrame({"school": ninth_grade_df["school"],
                              "reading_score_9th": ninth_grade_df["reading_score"],
                               "math_score_9th": ninth_grade_df["math_score"]})

tenth_grade_df = pd.DataFrame({"school": tenth_grade_df["school"],
                              "reading_score_10th": tenth_grade_df["reading_score"],
  
                               "math_score_10th": tenth_grade_df["math_score"]})
twelth_grade_df = pd.DataFrame({"school": twelfth_grade_df["school"]

SyntaxError: unexpected EOF while parsing (<ipython-input-616-2fb12e0c804c>, line 21)

In [615]:
                                   "reading_score_12th": twelth_grade_df['reading_score'],
                                   "math_score_12th": twelth_grade_df['math_score']})

scores_by_grade_hs_df = pd.merge(ninth_grade_red_df, tenth_grade_red_df, on="school").merge(eleventh_grade_red_df, on="school").merge(twelth_grade_red_df, on="school") 

                           
                                        

math_score_by_grade_df = pd.DataFrame({"school": scores_by_grade_hs_df["school"],
                                       "9th": scores_by_grade_hs_df["math_score_9th"], 
                                        "10th": scores_by_grade_hs_df["math_score_10th"], 
                                        "11th": scores_by_grade_hs_df["math_score_11th"],
                                        "12th": scores_by_grade_hs_df["math_score_12th"]})

math_score_by_grade_df = math_score_by_grade_df[["school", "9th", "10th", "11th", "12th"]].set_index("school").rename_axis(None)
                                               
math_score_by_grade_df.head()

SyntaxError: invalid syntax (<ipython-input-615-703966e06544>, line 1)

# Reading Score By Grade

In [ ]:
#This table uses the average score and grade-level datasets from Math Scores By Grade to reduce processing
reading_scores_by_grade_df = pd.DataFrame({'school': scores_by_grade_hs_df['school'],
                                        '9th': scores_by_grade_hs_df['reading_score_9th'],
                                        '10th': scores_by_grade_hs_df['reading_score_10th'],
                                        '11th': scores_by_grade_hs_df['reading_score_11th'],
                                        '12th': scores_by_grade_hs_df['reading_score_12th']})

reading_scores_by_grade_df = reading_scores_by_grade_df[['school', '9th', '10th', '11th', '12th']] .set_index('school').rename_axis(None)
                
reading_scores_by_grade_df

# Scores by School Spending

In [ ]:
school_summary_df.head()

In [ ]:
#create bins to hold values
bins = [0, 585, 615, 645, 675]

#create groups for each bin
view_groups = ['>$585', '\$585-\$615', '\$615-\$645', '\$645-\$675']

In [ ]:
school_summary_df

In [ ]:
school_summary_spending = school_summary_df.copy()

In [ ]:
school_summary_spending['Per Student Budget'] = school_summary_spending['Per Student Budget']\
.replace( '[\$]','',regex=True).astype('float')

In [ ]:
school_summary_spending['Spending Ranges (Per Student)'] = pd.cut(school_summary_spending['Per Student Budget'],
                                                                   bins, labels=view_groups)

In [ ]:
school_summary_spending = school_summary_spending[['Average Math Score', 'Average Reading Score',
                                          '% Passing Math', '% Passing Reading', 'Overall Passing Rate',
                                          'Spending Ranges (Per Student)']]
school_summary_spending.head()

In [ ]:
scores_by_school_spending_df = school_summary_spending.groupby('Spending Ranges (Per Student)')
scores_by_school_spending_df.mean()

# Scores by School size

In [ ]:
school_summary_size = school_summary_df.copy()

In [ ]:
#create bins to hold values
bins = [0, 1000, 2000, 5000]

#create groups for each bin
view_groups = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [ ]:
school_summary_size['Total Students'] = pd.to_numeric(school_summary_size['Total Students'])
school_summary_size['School Size'] = pd.cut(school_summary_size['Total Students'],
                                                                  bins, labels=view_groups)

In [ ]:
school_summary_size

In [ ]:
school_summary_size = school_summary_size[['Average Math Score', 'Average Reading Score',
                                          '% Passing Math', '% Passing Reading', 'Overall Passing Rate',
                                          'School Size']]
school_summary_size

In [ ]:
scores_by_school_size_df = school_summary_size.groupby('School Size')
scores_by_school_size_df.mean()

# Scores By School Type

In [ ]:
school_summary_type = school_summary_df.copy()

In [ ]:
school_summary_type = school_summary_type[['School Type','Average Math Score', 'Average Reading Score',
                                          '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]
                                          
school_summary_type

In [ ]:
scores_by_school_type_df = school_summary_type.groupby('School Type')
scores_by_school_type_df.mean()